.category_item-body{
    display: flex;
    width: 223px;
    padding: 10px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.00);
}

.color-circle{
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 33554400px;
    background: #34D399;
}

.category_name-field{
    color: #7B80A8;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.category_item-body:hover .category_name-field{
    color: white;
}

.tasks_count-circle{
    display: flex;
    padding: 2px 6px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.07);
    margin-left: auto;
}

.tasks_count-circle p{
    color: #7B80A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}