<div class="sidebar">
    <div class="account-container">
        <div class="avatar">
            <p>{{initials}}</p>
        </div>
        <div class="account-inf">
            <h1>{{username}}</h1>
            <h2>{{email}}</h2>
        </div>
    </div>
    <div class="nav-buttons">
        <button class="filter-button" [class.active]="activeTab() === 'NOTDONE'" (click)="setActive('NOTDONE')"><mat-icon>home</mat-icon>Home</button>
        <button class="filter-button" [class.active]="activeTab() === 'IMPORTANT'" (click)="setActive('IMPORTANT')"><mat-icon>star</mat-icon>Important</button>
        <button class="filter-button" [class.active]="activeTab() === 'PLANNED'" (click)="setActive('PLANNED')"><mat-icon>calendar_today</mat-icon>Planned</button>
        <button class="filter-button" [class.active]="activeTab() === 'ALL'" (click)="setActive('ALL')"><mat-icon>inbox</mat-icon>Tasks</button>
    </div>
    <hr class="divider">
    <p class="categories-header">MY CATEGORIES</p>
    <div class="categoris-list">
        <app-category-input></app-category-input>
        <app-category-list></app-category-list>
    </div>
    <button class="logout-button" (click)="logout()"><mat-icon>logout</mat-icon><p>Logout</p></button>
</div>
